@font-face {
  font-family: 'TheJamsil';
  src: url('/fonts/The Jamsil 3 Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil';
  src: url('/fonts/The Jamsil 2 Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
