.center {
  transform: translate(-50%, -50%);
  @apply left-[50%] top-[50%];
}

.h-center {
  transform: translateX(-50%);
  @apply left-[50%];
}

.v-center {
  transform: translateY(-50%);
  @apply top-[50%];
}

.smooth-transition {
  transition: all 0.2s ease-in-out;
}
