.post__card {
  @apply relative aspect-square h-full w-full cursor-pointer overflow-hidden border-sm border-text-primary;
}

.post__card__image {
  @apply smooth-transition aspect-square object-cover;
}

.post__card__content {
  @apply smooth-transition relative h-full w-full overflow-hidden p-xl;
}

.post__card__content span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.post__card:hover .post__card--hover--filter {
  transform: scale(1.1);
  filter: blur(0.125rem) brightness(30%);
}

.post__card:hover .post__card__content {
  background-color: rgb(0, 0, 0, 0.7);
}

.post__info {
  @apply smooth-transition absolute top-[0] flex h-full w-full flex-col items-center justify-center gap-sm opacity-0;
}

.post__card:hover .post__info {
  @apply opacity-100;
}
